.idea/*
.nuxt
vendor
node_modules/*
Thumbs.db
.DS_Store
*.log
*.txt
*.map
*.lock
*.json
!package*.json
!composer*.json
*.phar
/data/
/.env
/_ide_helper*.php
/.phpstorm.meta.php
/public/assets/build/
/public/packages/
/database/database.sqlite
/public/storage
app/cache/*
app/config/*.ini
/public/assets/admin/*
/public/assets/global/*
/public/css/bootstap.css
/public/css/style.css
/public/assets/metronic/
/public/css/bootstrap.css