.frame {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;

	.top {
		height: 70%;
		position: relative;

		.header {
			width: 100%;
			height: 60px;
			background: url(/images/frames/topfon.jpg) repeat-x;
			position: absolute;
			top: -38px;
			left: 0;

			.links {
				margin: 0 auto;
				text-align: center;

				> div {
					display: inline-block;

					> span {
					    float: left;
						display: inline-block;
					}
				}
			}
		}
	}

	.bottom {
		height: 30%;
		position: relative;
		background: #ffe9c0;

		.line {
			background-image: url(/images/frames/linefon.jpg);
			width: 100%;
			height: 12px;
			position: absolute;
			left: 0;
			top: 0;
		}

		.buttons {
			position: absolute;
			height: 39px;
			bottom: 0;
			left: 0;
			width: 100%;
		}

		div.chat {
			padding-bottom:40px;
			padding-top:13px;
			height: 100%;

			> table {
				width: 100%;
			    height: 100%;
				border: 0;
				border-spacing: 0;

				td {
					vertical-align: top;
					border: 0;
				}
			}

			.online {
				width: 300px;
			}
		}
	}

	.border {
		width: 30px;
		position: absolute;
		height: 100%;

		&.left {
			background: url(/images/frames/hlfon.jpg) repeat-y;
			left: 0;
		}

		&.right {
			background: url(/images/frames/hrfon.jpg) repeat-y;
			right: 0;
		}
	}

	.content {
		position: absolute;
		left: 30px;
		right: 30px;
		height: 100%;
	}

	.ch, a, a:link, a:active {
	    color: #9d0708;
	    text-decoration: none;
	}

	a:hover {
	    color: #d36b11;
	    text-decoration: none;
	}
}