.person-info {
	.g_line {
		background-image: url(/images/frames/g_line.gif);
		height: 10px;
	}

	.r_line {
		background-image: url(/images/frames/r_line.gif);
		height: 10px;
	}

	.y_line {
		background-image: url(/images/frames/y_line.gif);
		height: 10px;
	}
}