.chernii_link { text-decoration: underline; color: #000000; font-family: Verdana; font-size: 
               10pt }
.belii_link  { text-decoration: underline; color: #FFFFFF; font-family: Verdana; font-size: 
               10pt }