body {
    font-family: -apple-system, BlinkMacSystemFont, "Tahoma", "Helvetica", sans-serif;
    background: #ffe9c0;
    height: 100%;
    width: 100%;
}

a {
    color: #000;
}

img {
	max-width: initial;
	display: inline-block;
}