:root {
	--font-interface: -apple-system, BlinkMacSystemFont, 'Segoe UI', Tahoma, Helvetica, sans-serif;
}

* {
	scrollbar-width: thin;
	scrollbar-color: var(--paper-scrollbar) transparent;
}

body {
	font-family: var(--font-interface);
	background: var(--paper-bg);
	height: 100%;
	width: 100%;
}

a {
	color: #000;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
	outline: none;
}

small {
	font-size: 12px;
}

img {
	max-width: initial;
	display: inline-block;
}
