.textblock {
	margin: var(--space-10) var(--space-6) 0 var(--space-6);
	padding: var(--space-10);
	border: solid #e1d0b0 1px;
	background: #efdcb8;
}

hr {
	width: 100%;
	color: #a08359;
	height: 1px;
	border: 0 solid #a08359;
	background-color: #a08359;
	margin: var(--space-6) 0;
}

#hint1 {
	position: absolute;
	visibility: hidden;
}

.standbut {
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	background: #595855;
	border: 1px solid #636363;
	padding: var(--space-4) var(--space-10);
	margin: var(--space-2);
	display: inline-block;
}

a:hover {
	color: #ff4400;
}

.tmain a {
	color: #fff;
	text-decoration: none;
}

.tmain a:hover {
	text-decoration: underline;
}

.shoutbox {
	overflow-y: scroll;

	div {
		margin-top: var(--space-4);
		margin-left: var(--space-4);
	}

	.to {
		cursor: pointer;
	}

	.private,
	.private a {
		font-weight: bold;
	}
}

#usersContent {
	text-align: center;
}

p.message {
	padding: var(--space-16);
}

.creditList {
	margin-bottom: var(--space-10);
}

.creditList .number {
	font-size: 14px;
	font-weight: bold;
	margin-top: var(--space-8);
	display: inline-block;
}
