.tmain {
	width: 100%;
}

.nmenus {
	background: url(/assets/images/main/cp.jpg) repeat-x;
	font-weight: bold;
	color: white;
}

.ltable {
	width: 100%;
}

.textblock {
	margin: var(--space-10) var(--space-6) 0 var(--space-6);
	padding: var(--space-10);
	border: solid #e1d0b0 1px;
	background: #efdcb8;
}

.avtf {
	padding-bottom: var(--space-10);
}

.dlfr {
	width: 100%;
	height: 100%;
	padding: var(--space-6) 0;
}

.l_z_f {
	background: url(/assets/images/main/lpr.jpg) repeat-x;
	white-space: nowrap;
	font-size: 15px;
	font-weight: bold;
	color: #ffffff;
	padding-left: var(--space-10);
	padding-right: var(--space-10);
}

hr {
	width: 100%;
	color: #a08359;
	height: 1px;
	border-style: none;
}

html body hr {
	width: 100%;
	border: 0 solid #a08359;
	height: 1px;
	background-color: #a08359;
	margin: var(--space-6) 0;
}

.menuItem {
	border: 0 solid #000000;
	color: #2e5289;
	display: block;
	font-size: 12px;
	font-weight: bold;
	padding: var(--space-2) var(--space-12) var(--space-2) var(--space-8);
	text-decoration: none;
	cursor: pointer;
}

A.menuItem {
	display: block;
	font-weight: bold;
	font-size: 8pt;
	color: #000000;
	padding: var(--space-2) var(--space-12) var(--space-2) var(--space-8);
	text-decoration: none;
}

A.menuItem:hover {
	color: #ffffff;
	background-color: #3a82f4;
}

#hint1 {
	position: absolute;
	visibility: hidden;
}

.standbut {
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	background: #595855;
	border: 1px solid #636363;
	padding: var(--space-4) var(--space-10);
	margin: var(--space-2);
	display: inline-block;
}

a:hover {
	color: #ff4400;
}

.input {
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	border: 1px solid #636363;
	background: #9a9996 url('/assets/images/main/buttons_bg.gif') repeat-x right;
	height: 20px;
}

.tmain a {
	color: #fff;
	text-decoration: none;
}

.tmain a:hover {
	text-decoration: underline;
}

.shoutbox {
	padding: 0 var(--space-4) var(--space-10);
	font-size: 12px;
	height: 100%;
	overflow-y: scroll;

	.date2 {
		font-size: 12px;
		text-decoration: none;
		font-weight: normal;
		color: #007000;
		padding: var(--space-2);
		background-color: #00ffaa;
	}

	.date3 {
		font-size: 12px;
		text-decoration: none;
		font-weight: normal;
		color: #007000;
		background-color: #ddd;
		padding: var(--space-2);
	}

	div {
		margin-top: var(--space-4);
		margin-left: var(--space-4);
	}

	.to {
		cursor: pointer;
		color: #2e5289;
		font-weight: bold;
	}

	.player,
	.player a {
		color: #0046d5;
		font-weight: bold;
		font-size: 12px;
	}

	.private,
	.private a {
		color: Red;
		font-weight: bold;
		font-size: 12px;
	}
}

.shoutbox .date1 {
	font-size: 12px;
	text-decoration: none;
	font-weight: normal;
	color: #007000;
	padding: var(--space-2);
}

form {
	margin: 0;
	padding: 0;
}

.impackForm {
	width: 90%;
	text-align: center;
}

.impackForm #msg {
	text-align: center;
	display: none;
	margin: var(--space-10);
}

#usersContent {
	text-align: center;
	margin: var(--space-10) 0;
}

#usersContent > div {
	padding: var(--space-6);
	text-align: center;
	border: 1px #d8c792 solid;
}

.person_slots td {
	font-size: 0;
}

p.message {
	padding: var(--space-16);
}

.person_slots .left img,
.person_slots .right img {
	border: 1px solid #ccc;
	border-bottom: 0;
	border-right: 0;
	display: inline-block;
	max-width: initial;
	height: inherit;
}

.person_slots a img {
	border: 1px solid #ccc;
}

.personName {
	width: 244px;
	background: url(/assets/images/main/mnf.jpg) repeat-x;
	font-size: 12px;
	font-weight: normal;
	color: #ffffff;
	height: 28px;
	padding-top: var(--space-6);
	position: relative;
	padding-left: 50px;
	white-space: nowrap;
	overflow: hidden;
}

.personName a {
	font-size: 12px;
	color: #ffffff;
}

.personName:after {
	display: inline-block;
	content: '';
	background: url(/assets/images/main/rlnm.jpg) no-repeat;
	height: 28px;
	width: 46px;
	position: absolute;
	top: 0;
	right: 0;
}

.personName:before {
	display: inline-block;
	content: '';
	background: url(/assets/images/main/btn_on.jpg) no-repeat;
	height: 28px;
	width: 46px;
	position: absolute;
	left: 0;
	top: 0;
}

#autofight + label {
	font-weight: normal;
	margin: 0;
	display: inline;
}

.creditList {
	margin-bottom: var(--space-10);
}

.creditList .number {
	font-size: 14px;
	font-weight: bold;
	margin-top: var(--space-8);
	display: inline-block;
}
